@use '@carbon/react';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topRight {
  position: fixed;
  top: 50px;
  z-index: 9000;
  right: 5px;
  animation: 0.8s ease-out 0s 1 slideInFromTop;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

.buyContainer {
  width: 230px;
  padding-left: react.$spacing-05;
}

.heroPadding {
  height: react.$spacing-04;
}