.App {
  text-align: center;
}

.fixed-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main-content {
  padding-top: 6rem;

  @media (width <=1250px) {
    padding-top: 5rem;
  }
}